html,
body {
    background-color: #FFFBFF;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

nav {
    background-color: #000500;
}

.bg-img--banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    margin-bottom: 5px;
}

.breakfast {
    background-image: url("../images/breakfast.jpg");
    background-position: 50% 25%;
}

.lunch {
    background-image: url("../images/lunch.jpg");
}

.dinner {
    background-image: url("../images/dinner.jpg");
    background-position: 20% 66%;
}

.dessert {
    background-image: url("../images/dessert.jpg");
}

.background-decoration {
    background-image: url("../images/banner.png");
    background-size: 100px;
    background-repeat: repeat-x;
    background-position: center;
}

 /* Font styling */
h1 {
    font-weight: 800;
}

p,
ul,
li {
    font-weight: 700;
}

.flash-message {
    font-weight: 800;
    color: brown;
}


/* panel styling in my recipes page*/


.created-recipes {
    background-color: #000500;
    color: #FFFBFF;
    border-radius: 5px;
}

.liked-recipes {
    color: pink;
}